<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Listagem</title>
</head>

<body>
    <div class="container mt-5">
        <h1>TADS - Atividade DSW</h1>
        <h3>Turma A 23-2 - Carros</h3>

        <hr />
        <table class="table mt-3" th:if="${carros.size() > 0}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Fabricante</th>
                    <th>Ano de Lançamento</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carro : ${carros}">
                    <td>[[${carro.id}]]</td>
                    <td>[[${carro.modelo}]]</td>
                    <td>[[${carro.fabricante}]]</td>
                    <td>[[${carro.anoLancamento}]]</td>
                </tr>
            </tbody>
        </table>

        <a href="/carros/cadastro" class="btn btn-primary">Incluir novo</a>

        <div th:if="${carros.size() <= 0}" class="pt-3">
            <h3>Não há carros cadastrados.</h3>
        </div>
    </div>

</body>

</html>